.contacts {
	color: var(--color-white);
	background-color: var(--color-green);
}
.contacts__container {
	display: flex;
	justify-content: space-between;
	padding-top: 144px;
	padding-bottom: 80px;
}
.contacts__logo {
}
.contacts__block {
}
.contacts__title {
	margin-bottom: 24px;
	font-weight: 600;
	line-height: 1.7;
}
.contacts__nav {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.contacts__item {
}
.contacts__link {
}

.contacts__link:hover {
	color: var(--color-yellow);
}