/* Variables */

:root {
	--font-family: Inter, sans-serif;

	--font-size-h1: 2.5rem;
	--font-size-normal: 1,125rem;

	--color-green: rgb(35, 144, 56);
	--color-black: rgb(46, 54, 57);
	--color-gray: rgb(157, 174, 182);
	--color-yellow: rgb(255, 175, 21);

	--color-white: rgb(255, 255, 255);
	--color-smokewhite: rgb(245, 245, 245);
}


